
body {
    /* VARIABLES */
    --yellow : #eaab26;
    --blue : #0f4665;
    overflow-x: hidden;
}

.tx-red {
    color: red;
}

.tx-yellow {
    color: var(--yellow);
}

.main-pill li {
    border: 1px solid #ccc;
    text-align: center;
}

.main-pill li.active {
    border: 1px solid var(--yellow); 
}

.main-pill li a {
    text-decoration: none; 
    text-transform: uppercase; 
    padding: 15px;
    width: 100%;
    display: block;
    color: var(--blue);
    font-size: 13px;
    transition: all 0.3s ease-in;
    font-weight: 500;
}
.main-pill li a:hover {
    background-color: var(--blue);
    color: #fff; 
}

.main-pill li.active a {
    background-color: var(--yellow);
    color: #fff;
}

.inner-pill li { 
    text-align: center;
}

.inner-pill li a {   
    color: var(--blue);
    font-weight: 600;
    font-size: 15px;
}

.inner-pill li.active a {
    color: var(--yellow); 
}

.tab-title {
    text-transform: uppercase; 
    color: var(--blue);
    font-size: 23px;
    font-weight: 900;
}

.tab-body {
    margin-top: 50px; 
    font-family: 'Lato', sans-serif;
}

.tab-sub-body {
    border: 1.5px solid rgb(226, 223, 223);
    padding: 50px 20px;
}

form label {
    font-size: 13px;
    color: #6F7482;
}
form input, form textarea, form select {
    padding: 10px;
    margin-top: 5px;
    background-color: #e6e6e6;
    border-radius: 4px;
    display: block;
    width: 100%;
    outline: none;
    border: 0.5px solid #e6e6e6;
}

.inner-heading {
    color:  var(--blue);
    font-weight: 700;
}

button {
    outline: none;
    border: 1px solid var(--yellow);
    padding: 10px 20px;
    font-size: 10px;
    margin-right: 15px;
    background-color: var(--yellow);
    color: #fff; 
    min-width: 150px; 
}

.next-page,
.loan-next-page,
.individual-next-page, 
.previous-page,
.loan-previous-page,
.individual-previous-page,
.submit-btn  {
    font-size: 14px;
    margin-right: 10px;
    font-weight: 700;
    margin-bottom: 10px;
}

.user-avatar {
    border: 3px solid  var(--blue); 
    margin-bottom: 10px;
}

.img-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4), rgba(15, 70, 101, 1)) , url(./images/engr.png); 
    background-size: cover;
    background-position: center;
    background-origin: content-box;
    min-height: 100vh;
     color: #fff; 
     display: grid; 
     place-content: center; 
}


.form-section { 
    padding: 20px 0;
    background-color: #e6e6e6; 
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
}


.form-section-content {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 40px);
}

.form-box {
    height: 65px;
    position: relative;
}

.form-section .form-box input {
    padding: 15px 10px 10px;
    margin-top: 5px;
    background-color: #fff;
    border-radius: 4px;
    display: block;
    width: 100%;
    height: 100%;
    outline: none;
    border: 0.5px solid #fff;   
}

.form-section .form-box label {
        position: absolute;
        top: 5px;
        left: 5px; 
        font-size: 11px;
        transition: all 0.5s;
        padding: 2px; 
        color: #00000a; 
        text-transform: uppercase;
}

 
.form-section-logo img {
    margin: 10px 0;
    width: 230px;
}

.form-section-body {
    flex-grow: 1;
    display: grid;
    place-content: center;
}

.form-section-body h2 {
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 1px;
}

.form-section-body h6 { 
    font-size: 18px;
}